img {
    width: 400px;
    height: auto;
    object-fit: fill;
}

.celeb-list,
#destination-cards,
.dest-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.celeb {
    background-color: aliceblue;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    list-style: none;
    border-radius: 50px;
    padding: 15px;
}